<mat-toolbar class="top-bar">
  <a
    mat-button
    class="auto"
    color="primary"
    [routerLink]="['']"
    fragment="home"
  >
    Home
  </a>
  <a mat-button class="auto" [routerLink]="['']" fragment="work">Work</a>
  <a mat-button class="auto" [routerLink]="['']" fragment="blog">Blog</a>
  <a mat-button class="auto" [routerLink]="['']" fragment="contact">Contact</a>
</mat-toolbar>

<mat-progress-bar
  class="progress-bar"
  mode="determinate"
  [value]="progressValue$ | async"
></mat-progress-bar>
