.top-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 42px;
}

.auto {
  flex: auto;
  width: 100%;
}

.progress-bar {
  position: fixed;
  margin-top: 40px;
}
