.top-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 42px;
  // Ensure other content doesn't overlap the tool bar.
  z-index: 1000;
}

.auto {
  flex: auto;
  width: 100%;
}

.progress-bar {
  position: fixed;
  margin-top: 40px;
  // Ensure other content doesn't overlap the progress bar.
  z-index: 1000;
}
