<div class="about">
  <h2>About Me</h2>
  <img src="../../assets/images/portrait.jpg" class="protrait" />
  <p>
    Hey! My name is Peter. I have a robust background in web development, system
    design, and data analysis. I'm currently working in
    <a href="https://about.google/">Google</a> as a software engineer. With a
    careful mind for detail and a passion for problem-solving, I enjoy
    transforming complex requirements into seamless, functional, and efficient
    solutions.
  </p>
  <p>
    I currently focus on developing automation testing tools, and debugging
    tools. I very enjoy building software to help the users solve their pain
    points, and improve users efficiency on their day-to-day works.
  </p>
  <p>
    Previously I also have hand-on experiences on crafting web tools, most of my
    works focus on back-end software development. The most thing I like about
    the web development is that web is easy for everyone to reach and can carry
    unlimited innovative ideas. Recently I'm also learning front-end tech stack
    <strong>Typescript</strong> with <strong>Angular</strong>, and this website
    is my first Angular project!
  </p>
  <p>
    When I'm not on my computer, I like <strong>photography</strong>, travel,
    hiking, workout, and reading. I love taking picture with manual focus,
    although auto focus techiniques are very powerful and easy-to-use nowadays.
    Manual focus provides full control for me to create, compose the scence I
    want. I can decide the subjects to be focused, shutter speed, and aperture,
    so as to create an unique picture right on this moment.
  </p>
</div>
