.home {
  background: url(../../assets/images/concrete.jpg);
  background-size: cover;
  padding: 12% 0 0 0;
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 100%;
}

h1 {
  font-size: 10.5vw;
  line-height: 11vw;
  color: #000000;
}

h2 {
  font-size: 40px;
  line-height: 11vw;
}

p {
  font-size: 25px;
  line-height: 30px;
  padding: 0 10% 0 10%;
}

a {
  line-height: 10vw;
}
