<div class="contact">
  <h2>Contact Me</h2>

  <a [href]="constants.LINKEDIN_LINK" role="button">
    <i class="fab fa-linkedin fa-3x"></i
  ></a>
  <a [href]="constants.GITHUB_LINK" role="button">
    <i class="fab fa-github fa-3x"></i>
  </a>
  <a [href]="constants.MEDIUM_LINK" role="button"
    ><i class="fab fa-medium fa-3x"></i
  ></a>
  <a [href]="constants.INSTAGRAM_LINK" role="button"
    ><i class="fab fa-instagram fa-3x"></i
  ></a>
  <a [href]="constants.MAILTO_LINK" role="button">
    <i class="far fa-envelope fa-3x"></i>
  </a>
</div>
