.body {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

.text-center {
  text-align: center;
}

.content {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #000000;
}

section {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
}
