<div class="body text-center">
  <section *ngFor="let page of constants.PAGES" [id]="page" [ngSwitch]="page">
    <app-home *ngSwitchCase="constants.HOME_PAGE" class="content"></app-home>
    <app-about *ngSwitchCase="constants.ABOUT_PAGE" class="content"></app-about>
    <app-experience
      *ngSwitchCase="constants.EXPERIENCE_PAGE"
      class="content"
    ></app-experience>
    <app-work *ngSwitchCase="constants.WORK_PAGE" class="content"></app-work>
    <app-contact
      *ngSwitchCase="constants.CONTACT_PAGE"
      class="content"
    ></app-contact>
  </section>
</div>
