<div class="work">
  <h2>Work</h2>
  <h3>Curriculum Vitae</h3>
  <p>
    Check out my
    <a
      href="https://www.linkedin.com/in/hsuehkuan-lu-180407/overlay/1722006998604/single-media-viewer/?profileId=ACoAABHnW2wBJ8jF4QNsr__NFaP_Pbs__lx6v5M"
      >curriculum vitae</a
    >
    on my linkedin
    <a [href]="constants.LINKEDIN_LINK" role="button"
      ><i class="fab fa-linkedin"></i
    ></a>
  </p>
  <h3>Photography</h3>
  <div>
    <img src="../../assets/images/live.jpg" class="photo" />
    <img src="../../assets/images/thu.jpg" class="photo" />
    <img src="../../assets/images/window.jpg" class="photo" />
    <img src="../../assets/images/live2.jpg" class="photo" />
    <img src="../../assets/images/sunset.jpg" class="photo" />
    <img src="../../assets/images/children.jpg" class="photo" />
    <p>
      Check out more pictures on my instagram
      <a [href]="constants.INSTAGRAM_LINK" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </p>
  </div>
</div>
