<div class="experience">
  <h2>Experience</h2>
  <mat-card
    *ngFor="let exp of experiences"
    class="experience-card"
    appearance="outlined"
  >
    <mat-card-header class="experience-card-header">
      <img
        mat-card-avatar
        *ngIf="exp.img"
        [src]="exp.img"
        class="experience-header-image"
      />
      <mat-card-title
        ><a [href]="exp.website" style="text-decoration: none">{{
          exp.name
        }}</a></mat-card-title
      >
      <mat-card-subtitle>{{ exp.role }}</mat-card-subtitle>
      <mat-card-subtitle
        >{{ exp.startDate | date : "MMM yyyy" }} -
        {{ exp.endDate | date : "MMM yyyy" }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content class="experience-card-content">
      {{ exp.description }}
    </mat-card-content>

    <mat-card-footer class="experience-card-footer">
      <mat-chip-set aria-label="Experience tags">
        <mat-chip *ngFor="let tag of exp.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>
